.image-gallery-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:60vh;
    background-color: #f3f0e5;
}

@media only screen and (max-width: 780px) {
    .image-gallery-container {
        top:52vh;
    }
}

@media only screen and (max-width: 600px) {
    .image-gallery-container {
        top:42vh;
    }
}