.main-header {
  overflow: hidden;
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 10vh;
}

/* z-index: -10 on .main-header caused button:hover not to work,
moved it to .hero-image instead, now it works  */

.hero-image {
  width: 100%;
  z-index: -10;
}

.main-header-headline {
  color: #efead8;
  position: absolute;
  font-size: 6vw;
  width: 60vw;
  left: 3vw;
  top: 3vh;
}

.main-header-sub-headline {
  color: #5f7161;
  position: absolute;
  font-size: 2.8vh;
  width: 35vw;
  left: 3vw;
  top: 30vh;
}

.main-header-search-bar {
  position: absolute;
  left: 25%;
  top: 43vh;
}

@media only screen and (max-width: 780px) {
  .main-header-search-bar {
    left: 10vw;
    top: 32vh;
  }

  .main-header-sub-headline {
    left: 10vw;
    top: 22vh;
    font-size: 2.3vh;
    width: 43vw;
  }

  .main-header-headline {
    left: 10vw;
    top: 3vh;
    font-size: 7.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .main-header-search-bar {
    top: 20vh;
  }

  .main-header-sub-headline {
    display: none;
  }
}
