* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.main-nav-bar {
  background-color: #5F7161;
  height: 10vh;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  top: 0;
}


.navbar-logo {
  width: 4vw;
  margin-left: 1rem;
}

.menu-items {
  display: flex;
}

.menu-list {
  display: flex;
  margin: 2rem;
  list-style-type: none;
  align-items: center;
}

.menu-links {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}

.menu-links:hover {
color: #6D8B74;
}

.login-button {
  white-space: nowrap;
  cursor: pointer;
  border: 0.1rem solid;
  border-color: white;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

.login-button:hover {
    background-color: #6D8B74;
}

.hamburger-menu-icon {
  display: none;
}

@media only screen and (max-width: 780px) {
  .main-nav-bar {
    display: flex;
  }

  .menu-list {
    display: none;
  }

  .hamburger-menu-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    left: 0;
    top: 10vh;
    transition: all 0.5sec ease-out;
    width: 100%;
    background-color: #D0C9C0;
  }

  .menu-links {
    display: flex;
    text-align: center;
    padding: 2rem;
    transition: all 0.5sec ease-out;
    width: 100%;
    align-items: center;
  }

  .menu-links:hover {
    color: #5F7161;
  }

  .login-button {
    margin-bottom: 2rem;
    border: none;
    font-size: large;
    font-weight: bolder;
  }
  .login-button:hover {
    color: #5F7161;
    background-color: transparent;
  }

  .hamburger-menu-icon {
    display: block;
    position: absolute;
    font-size: 3rem;
    color: #EFEAD8;
    border: none;
    outline: none;
    top: 1.2vh;
    right: 9vw;
    background-color: transparent;
  }

  .navbar-logo {
    width: 8vw;
    margin-left: 9vw;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-logo {
    width: 10vw;
  }
}
