.search-bar-label {
    height: 10vh;
    width: 40vw;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 2px #3d3d3d29;

}

.search-bar-button {
    height: 10vh;
    width: 12vw;
    border: none;
    background-color: #D0C9C0;
    color: #5F7161;
    cursor: pointer;
    box-shadow: 0px 2px 2px #3d3d3d29;
}

@media only screen and (max-width: 780px) {

    .search-bar-label {
    height: 7vh;
    width: 50vw;
    }

    .search-bar-button {
        height: 7vh;
        width: 20vw;
    }



}
